/* button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: #666;
}

body {
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 120px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
/* }

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

.form-table {
    border-collapse: collapse;
    width: 100%;
}

.form-table, p {
    margin-top: 20px;
}

.form-table tr:hover {
    background-color: #ddd;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.form-table th {
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
}

.form-table th {
    background-color: #f2f2f2;
    color: #333;
}

.form-table td, .form-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
} */ 